<!DOCTYPE html>
<html>
<head>
	<title>两列布局</title>
	<style type="text/css">
	.header{
		height: 200px;
		background-color: blue;
	}
	.container,.footer{
		width: 960px;
		margin: 0 auto;
	}
	.container{		
		height: 800px;
		background-color: #ccc;
	}
	.left{
		width: 350px;
		height: 800px;
		float: left;
		background-color: green;
	}
	.right{
		width: 350px;
		height: 800px;
		float: right;
		background-color: green;
	}
	.footer{
		height: 400px;
		background-color: #3c3c3c;
	}
	</style>
</head>
<body>
<div class="header"></div>
<div class="container">
	<div class="left"></div>
	<div class="right"></div>
</div>
<div class="footer"></div>
</body>
</html>